/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

.docimage1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.docimage2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
@media screen  and  (max-width: 800px) {
    
.docimage1{
  
    width: 100%;
}

.docimage2{
    
    width: 80%;
}
}
.wrapper{
    max-width: 80% !important;
}